* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }
  .container {
    max-width: 3080px;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width:576px) {
      max-width: 500px;
    }
  }
