.carousel {
  background-color: #f4f9fe;
  overflow: hidden;
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 1620px;

    .col {
      width: calc(100% / 4);
      margin-bottom: 30px;

      .item {
        animation: fadeInDown 1s;
        animation-fill-mode: both;
        border: 1px solid;
        width: 350px;
        height: 100%;
        padding: 10px; 
        .btn-cart{
            padding: 5px 100px;
            border-radius: 5px;
            margin-bottom: 50px;
        }
        img {
          width: 100%;
          height: 80%;
        }
        .info{
          text-align: center;
          font-size: 20px;
        }
      }
      @for $i from 0 to 4 {
        .item-#{$i + 1} {
          animation-delay: 0.5s * $i;
        }
      }
    }
  }
  .container {
    height: 100%;
    width: 2080px;
    .product-title {
      text-align: center;
      font-size: 30px;
      margin-top: 25px;
      margin-right: 500px;
      padding-bottom: 25px;
    }
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
