/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

:root {
   --main-color: #287bff;
   /* --main-color: #e84393; */
   /* --main-color: #dd2f6e; */
   --main-color: #0e9f6e;
   /* --main-color: #287bff; */
   --color-dark: #1d2231;
   --text-grey: #8390a2;
}

* {
   font-family: "Inter", sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   box-sizing: border-box;
}

#sidebar-toggle {
   display: none;
}

.sidebar {
   height: 100%;
   width: 240px;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 100;
   background: var(--main-color);
   color: #fff;
   overflow-y: auto;
   transition: width 500ms;
}

.sidebar-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   padding: 0rem 1rem;
}

.sidebar-menu {
   padding: 1rem;
   padding-right: 0rem;
}
.sidebar-menu > ul > li > a > *:first-child {
   font-size: 20px;
}
.sidebar-menu li {
   padding-left: 10px;
}
.sidebar li {
   margin-bottom: 1.5rem;
}

.sidebar a {
   color: #fff;
   font-size: 1rem;
}

.sidebar a span:last-child {
   padding-left: 0.6rem;
}
.sidebar-menu .active {
   background-color: #fff;
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;

   border-radius: 30px 0px 0px 30px;
}
.sidebar-menu .active a {
   color: var(--main-color);
}
#sidebar-toggle:checked ~ .sidebar {
   width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
   display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
   display: flex;
   justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
   margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
   left: 60px;
   width: calc(100% - 60px);
}

.main-content {
   position: relative;
   margin-left: 240px;
   transition: margin-left 500ms;
}

header {
   position: fixed;
   left: 240px;
   top: 0;
   z-index: 100;
   width: calc(100% - 240px);
   background: #fff;
   height: 60px;
   padding: 0rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
   transition: left 500ms;
}

.search-wrapper {
   display: flex;
   align-items: center;
}

.search-wrapper input {
   border: 0;
   outline: 0;
   padding: 1rem;
   height: 38px;
}

.social-icons {
   display: flex;
   align-items: center;
}

.social-icons span,
.social-icons div {
   margin-left: 1.2rem;
}

.social-icons div {
   height: 38px;
   width: 38px;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(img/avt.jpg);
   border-radius: 50%;
}

main {
   margin-top: 60px;
   background: #f1f5f9;
   min-height: 90vh;
   padding: 1rem 3rem;
}

.recent {
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.activity-grid {
   display: grid;
   grid-template-columns: 75% 25%;
   grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
   background: #fff;
   border-radius: 7px;
}

.activity-card h3 {
   color: var(--text-grey);
   margin: 1rem;
}

.activity-card table {
   width: 100%;
   border-collapse: collapse;
}

.activity-card thead {
   background: #efefef;
   text-align: left;
}

th,
td {
   font-size: 1.1rem;
   padding: 15px 15px;
   color: var(--color-dark);
}

td {
   font-size: 1rem;
}

tbody tr:nth-child(even) {
   background: #f9fafc;
}
.td-team {
   display: flex;
   align-items: center;
}

.bday-flex {
   display: flex;
   align-items: center;
   margin-bottom: 0.3rem;
}

.bday-card {
   padding: 1rem;
}

.table-responsive {
   overflow-x: auto;
}

/* customer  */
.customer-grid {
   grid-template-columns: 100%;
}
.action > * {
   margin-left: 5px;
   font-size: 20px;
   cursor: pointer;
}
.pagination {
   margin-top: 20px;
   padding-left: 1rem;
   font-size: 15px;
}
.product-action {
   margin-bottom: 1.2rem;

   box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);
   overflow: hidden;
   border-radius: 7px;
   background-color: rgba(255, 255, 255, 0.8);
}

.product__add {
   border: 1px solid #d5d6d7;
   border-radius: 7px;
   /* display: inline-block; */
}
.product-action-wrapper input,
.product-action-wrapper select,
.product-action-wrapper textarea {
   border: none;
}
input:focus {
   outline: none;
}
.product__add {
   border: 0 solid #d5d6d7;
}
.product__add > * {
   padding: 15px 20px 15px 20px;
   background-color: var(--main-color);
   color: #fff;
   font-weight: 600;
   border: none;
   cursor: pointer;
   font-size: 1rem;
   border-radius: 7px;
}

.product-add__form {
   margin-left: 2rem;
   margin-right: 2rem;
   margin-top: 30px;
   margin-bottom: 50px;
}

.btn-area > * {
   width: 20%;
   height: 30px;
}

.product__add {
   margin-bottom: 2rem;
}
.product-add__form {
   display: flex;
   gap: 5%;
}
.product-add__form > * > * {
   display: block;
   width: 100%;
}
.product-add__form > *:not(:last-child) > *:first-child {
   flex: 1;
}
.product-add__form > *:not(:last-child) > *:last-child {
   flex: 2;
}
.hidden {
   display: none;
}
.disabled {
   width: 0%;
}
.close-drawer:hover {
   color: #ff4938;
}
.product-add__form > * > * {
   margin-bottom: 20px;
}
.product-add {
   height: 2.5rem;
}

.product-add__desc {
   height: 7rem;
}

.flex {
   display: flex;
}
.flex > *:first-child {
   flex: 1;
}

.flex > *:last-child {
   flex: 2;
}

.product-add__form input,
.product-add__form textarea {
   border: 1px solid #d5d6d7;
   border-radius: 7px;
}
input,
textarea {
   background-color: #f4f5f7;
   font-size: 15px;
   padding-left: 10px;
}

input:not([type="submit"]),
textarea:focus {
   background-color: #fff;
}
.product-add__form textarea {
   padding-top: 7px;
}
.btn-area {
   height: 3rem;
   display: flex;
   margin-top: 3rem;
   gap: 2rem;
}

.btn-area > * {
   display: inline-block;
   height: 100%;
   width: 100%;
   font-size: 15px;
   background-color: var(--main-color);
   color: #fff;
   cursor: pointer;
}
.btn-cancel {
   border-radius: 7px;
   background-color: #fff;
   color: #ff2f2f;
   border: 1px solid #d5d6d7;
   transition: all 0.3s ease-in-out;
}
.btn-cancel:hover {
   background-color: #fde8e8;
}
.img-container {
   width: 120px;
}

.img-container img {
   width: 100%;
   height: 100%;
}

.form-left,
.form-right {
   width: 47%;
}
.dash-title {
   text-align: center;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: 700;
}
.prodcut-details__price {
   font-size: 2.4rem;
   color: #ff2f2f;
   font-weight: 500;
}
.center {
   text-align: center;
}

.product-detail {
   min-height: 600px;
}

.top-area {
   display: flex;
}
.img-wrapper{
   width: 350px;
   height: 350px;
   /* text-align: center; */
   margin: 0 auto;
}
.prod-title{
   font-size: 24px;
   margin-bottom: 30px;
   color: #ff2f2f;
   font-weight: 600;
}
.prod-wrapper >*{
   margin-top: 10px;
}

.prod-wrapper >*:not(:first-child) >*:first-child{
   font-weight: 600;
}

.btn-area{
   margin-top: 30px;
   margin-bottom: 30px;
}