.header{
   max-width: 100%;
    .container{
        h1{
            font-size: 40px;
            text-align: center;
        }
    };
    @media screen and (max-width:576px) {
        max-width: 5200px;
        .container{
            h1{
                font-size: 50px;
                text-align: center;
            }
        };
    }
}