.product-thumbnail {
   padding-right: 48px;
   padding-left: 48px;
   padding-top:16px;
   padding-bottom:16px;
   width: 100px;
}
.product-thumbnail img {
   width: 100%;
}
.product-name {
   vertical-align: middle;
   margin-left: 32px;
   margin-right: 80px;
}
.shopcart-plus-minus {
   display: flex;
   width: 30%;
   text-align: center;
}
.shopcart-plus-minus > * {
   flex: 1;
   cursor: pointer;
   width: 50%;
   display: inline-block;
   font-size: 16px;
   border: none;
   text-align: center;
}
.shopcart-plus-minus > *:not(:nth-child(2)) {
   font-size: 18px;
   border: 1px solid #666;
}

.shopcart-plus-minus {
   display: flex !important;
}
.shopcart-plus-minus > *:last-child {
   display: inline-block;
}
.shopcart-plus-minus > *:not(:nth-child(2)):hover {
   color: #ff2f2f;
}
.disable-click {
   cursor: not-allowed;
}
.flex {
   display: flex;
   gap: 20px;
}
.right {
   width: 30px;
   height: 30px;
   font-size: 20px;
   padding-top: 5px;
}
#increase,
#decrease{
   font-size: 18px;
}

#increase:hover,
#decrease:hover {
   background-color: #ff2f2f;
   color: #fff
}
.right:hover{
   color: #ff2f2f;
}