* {
   font-family: "Inter", sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}
h3{
    font-size: 2.5rem;
}