header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
 }
 
 .search-wrapper {
    display: flex;
    align-items: center;

    input{
        border: 0;
        outline: 0;
        padding: 1rem;
        height: 38px;
    }
 }

 .social-icons {
    display: flex;
    align-items: center;
    span{
        margin-left: 1.2rem;
    }
    div{
        margin-left: 1.2rem;
        height: 38px;
        width: 38px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(./../image/avt.png);
        border-radius: 50%;
    }
 }
