* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h3 {
  font-size: 2.5rem;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #0e9f6e;
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
  font-size: 1.6rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #fff;
  font-size: 1.6rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
  padding-right: 0rem;
}

.sidebar-menu li {
  padding-left: 10px;
}

.sidebar-menu li a:hover {
  text-decoration: none;
}

.sidebar-menu .active {
  background-color: #fff;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu .active a {
  color: #0e9f6e;
}

.sidebar-menu > ul > li > a > *:first-child {
  font-size: 20px;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.brand {
  font-size: 1.8rem;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 50px;
    z-index: 150;
  }
  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }
  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }
  .main-content {
    margin-left: 60px;
  }
  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }
  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline;
  }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }
  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }
  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }
  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span {
  margin-left: 1.2rem;
}

.social-icons div {
  margin-left: 1.2rem;
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../image/avt.png);
  border-radius: 50%;
}

main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1.5rem 3.5rem;
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
  font-size: 1.6rem;
}

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.activity-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
  background: #fff;
  border-radius: 7px;
}

.activity-card h3 {
  color: #8390a2;
  margin: 1.5rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}

th,
td {
  font-size: 1.6rem;
  padding: 15px 15px;
  color: #1d2231;
}

td {
  font-size: 1.6rem;
}

tbody tr:nth-child(even) {
  background: #f9fafc;
}

.td-team {
  display: flex;
  align-items: center;
}

.bday-flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.bday-card {
  padding: 1.5rem;
}

.table-responsive {
  overflow-x: auto;
}

/* customer  */
.customer-grid {
  grid-template-columns: 100%;
}

.action > * {
  margin-left: 5px;
  font-size: 2.2rem;
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
  padding-left: 1.5rem;
  font-size: 1.6rem;
}

.product-action {
  margin-bottom: 1.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
}

.product-action-wrapper input,
.product-action-wrapper select,
.product-action-wrapper textarea {
  border: none;
}

input:focus {
  outline: none;
}

.product__add {
  border: 1px solid #d5d6d7;
  border-radius: 7px;
  margin-bottom: 2rem;
  border: 0 solid #d5d6d7;
}

.product__add > * {
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #0e9f6e;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 7px;
  font-size: 1.6rem;
}

.product-add__form {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  gap: 5%;
}

.product-add__form > * :not(:last-child) > *:first-child {
  flex: 1;
}

.product-add__form > * :not(:last-child) > *:last-child {
  flex: 2;
}

.product-add__form > * > * {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.btn-area > * {
  width: 20%;
  height: 30px;
}

.hidden {
  display: none;
}

.disabled {
  width: 0%;
}

.close-drawer:hover {
  color: #ff2f2f;
}

.product-add {
  height: 4rem;
}

.product-add__desc {
  height: 10rem;
}

.flex {
  display: flex;
}

.flex > *:last-child {
  flex: 2;
}

.flex > *:first-child {
  flex: 1;
}

.product-add__form input,
.product-add__form textarea {
  border: 1px solid #d5d6d7;
  border-radius: 7px;
}

input,
textarea {
  background-color: #f4f5f7;
  font-size: 15px;
  padding-left: 10px;
}

input:not([type="submit"]),
textarea:focus {
  background-color: #fff;
}

.product-add__form textarea {
  padding-top: 7px;
}

.btn-area {
  height: 5.5rem;
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.btn-area > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 15px;
  background-color: #0e9f6e;
  color: #fff;
  cursor: pointer;
}

.btn-cancel {
  border-radius: 7px;
  background-color: #fff;
  color: #ff2f2f;
  border: 1px solid #d5d6d7;
  transition: all 0.3s ease-in-out;
}

.btn-cancel:hover {
  background-color: #fde8e8;
}

.img-container {
  width: 120px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.form-left,
.form-right {
  width: 47%;
}

.dash-title {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.prodcut-details__price {
  font-size: 2.4rem;
  color: #ff2f2f;
  font-weight: 500;
}

.center {
  text-align: center;
}

.product-detail {
  min-height: 600px;
}

.top-area {
  display: flex;
}

.img-wrapper {
  width: 350px;
  /* text-align: center; */
  margin: 0 auto;
}

.prod-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #ff2f2f;
  font-weight: 600;
}

.prod-wrapper > * {
  margin-top: 10px;
}

.prod-wrapper > *:not(:first-child) > *:first-child {
  font-weight: 600;
}

.btn-area {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 860px) {
  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-single {
    margin-bottom: 1rem;
  }
  .activity-grid {
    display: block;
  }
  .summary {
    margin-top: 1.5rem;
  }
  .main-content {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .dash-cards {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  html {
    font-size: 9px;
  }
  .product-add__form {
    display: block;
  }
  .form-left,
  .form-right {
    width: 100%;
  }
  .flex {
    gap: 7px;
  }
  .flex > *:first-child {
    flex: 2;
  }
  .flex > *:last-child {
    flex: 3;
  }
  .product__add > *,
  .product-add__form {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .btn-area {
    justify-content: center;
    text-align: center;
  }
  .btn-area > * {
    width: 40%;
    height: 80%;
  }
  .img-wrapper {
    width: 80%;
  }
  #btnClose {
    width: 100%;
    height: 100%;
  }
  .prod-wrapper {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  #sidebar-toggle:checked ~ .sidebar {
    width: 150px;
  }
}
/*# sourceMappingURL=admin.css.map */