$c1: #00ff00;
$c2: #00ffff;
$c3: #ffff00;
$c4: #000000;
$c5: red;

$text-xs: 10px;
$text-sm: 14px;
$text-base: 16px;
$text-md: 20px;
$text-lg: 24px;
$text-xl: 30px;
$text-2xl: 70px;

$text-light: 300;
$text-normal: 400;
$text-semiBold: 600;
$text-bold: 700;

@mixin button($bg, $pd, $bd, $br) {
  background-color: $bg;
  padding: $pd;
  border-radius: $br;
  border: $bd;
  cursor: pointer;
}
