* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 3080px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
  }
}

.header {
  max-width: 100%;
}

.header .container h1 {
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .header {
    max-width: 5200px;
  }
  .header .container h1 {
    font-size: 50px;
    text-align: center;
  }
}

.carousel {
  background-color: #f4f9fe;
  overflow: hidden;
}

.carousel .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1620px;
}

.carousel .row .col {
  width: calc(100% / 4);
  margin-bottom: 30px;
}

.carousel .row .col .item {
  -webkit-animation: fadeInDown 1s;
          animation: fadeInDown 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  border: 1px solid;
  width: 350px;
  height: 100%;
  padding: 10px;
}

.carousel .row .col .item .btn-cart {
  padding: 5px 100px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.carousel .row .col .item img {
  width: 100%;
  height: 80%;
}

.carousel .row .col .item .info {
  text-align: center;
  font-size: 20px;
}

.carousel .row .col .item-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.carousel .row .col .item-2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.carousel .row .col .item-3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.carousel .row .col .item-4 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.carousel .container {
  height: 100%;
  width: 2080px;
}

.carousel .container .product-title {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  margin-right: 500px;
  padding-bottom: 25px;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.footer .container .total {
  margin-left: 1050px;
}
/*# sourceMappingURL=home.css.map */