@import "./variables";

main {
   margin-top: 60px;
   background: #f1f5f9;
   min-height: 90vh;
   padding: 1.5rem 3.5rem;
}
.main-content {
   position: relative;
   margin-left: 240px;
   transition: margin-left 500ms;
   font-size: 1.6rem;
}
.recent {
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.activity-grid {
   display: grid;
   grid-template-columns: 75% 25%;
   grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
   background: #fff;
   border-radius: 7px;
}

.activity-card {
   h3 {
      color: $text-grey;
      margin: 1.5rem;
   }
   table {
      width: 100%;
      border-collapse: collapse;
   }

   thead {
      background: $background-white-darker;
      text-align: left;
   }
}

th,
td {
   font-size: 1.6rem;
   padding: 15px 15px;
   color: $color-dark;
}

td {
   font-size: 1.6rem;
}

tbody tr:nth-child(even) {
   background: #f9fafc;
}
.td-team {
   display: flex;
   align-items: center;
}

.bday-flex {
   display: flex;
   align-items: center;
   margin-bottom: 0.3rem;
}

.bday-card {
   padding: 1.5rem;
}

.table-responsive {
   overflow-x: auto;
}

/* customer  */
.customer-grid {
   grid-template-columns: 100%;
}
.action > * {
   margin-left: 5px;
   font-size: 2.2rem;
   cursor: pointer;
}
.pagination {
   margin-top: 20px;
   padding-left: 1.5rem;
   font-size: 1.6rem;
}
.product-action {
   margin-bottom: 1.2rem;

   //    box-shadow: 0 0 0 1px rgb(0 0 0 5%);
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   overflow: hidden;
   border-radius: 7px;
   background-color: rgba(255, 255, 255, 0.8);
}

.product-action-wrapper input,
.product-action-wrapper select,
.product-action-wrapper textarea {
   border: none;
}
input:focus {
   outline: none;
}
.product__add {
   border: 1px solid #d5d6d7;
   border-radius: 7px;
   margin-bottom: 2rem;
   border: 0 solid #d5d6d7;
   > * {
      padding: 1.5rem 2rem 1.5rem 2rem;
      background-color: $main-color;
      color: #fff;
      font-weight: 600;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 7px;
      font-size: 1.6rem;
   }
}

.product-add__form {
   margin-left: 2rem;
   margin-right: 2rem;
   margin-top: 30px;
   margin-bottom: 50px;
   display: flex;
   gap: 5%;

   > * {
      :not(:last-child) {
         > *:first-child {
            flex: 1;
         }
         > *:last-child {
            flex: 2;
         }
      }
      > * {
         display: block;
         width: 100%;
         margin-bottom: 2rem;
      }
   }
}

.btn-area > * {
   width: 20%;
   height: 30px;
}

.hidden {
   display: none;
}
.disabled {
   width: 0%;
}
.close-drawer:hover {
   color: $color-red;
}

.product-add {
   height: 4rem;
}

.product-add__desc {
   height: 10rem;
}

.flex {
   display: flex;
   > *:last-child {
      flex: 2;
   }
   > *:first-child {
      flex: 1;
   }
}

.product-add__form input,
.product-add__form textarea {
   border: 1px solid #d5d6d7;
   border-radius: 7px;
}
input,
textarea {
   background-color: #f4f5f7;
   font-size: 15px;
   padding-left: 10px;
}

input:not([type="submit"]),
textarea:focus {
   background-color: $color-white;
}
.product-add__form textarea {
   padding-top: 7px;
}
.btn-area {
   height: 5.5rem;
   display: flex;
   margin-top: 3rem;
   gap: 2rem;
   > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 15px;
      background-color: $main-color;
      color: #fff;
      cursor: pointer;
   }
}

.btn-cancel {
   border-radius: 7px;
   background-color: $color-white;
   color: $color-red;
   border: 1px solid #d5d6d7;
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: #fde8e8;
   }
}

.img-container {
   width: 120px;
   img {
      width: 100%;
      height: 100%;
   }
}

.form-left,
.form-right {
   width: 47%;
}
.dash-title {
   text-align: center;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
   font-size: 2.5rem;
   text-transform: uppercase;
   font-weight: 700;
}
.prodcut-details__price {
   font-size: 2.4rem;
   color: $color-red;
   font-weight: 500;
}
.center {
   text-align: center;
}

.product-detail {
   min-height: 600px;
}

.top-area {
   display: flex;
}
.img-wrapper {
   width: 350px;
   // height: 350px;
   /* text-align: center; */
   margin: 0 auto;
}
.prod-title {
   font-size: 24px;
   margin-bottom: 30px;
   color: $color-red;
   font-weight: 600;
}
.prod-wrapper > * {
   margin-top: 10px;
}

.prod-wrapper > *:not(:first-child) > *:first-child {
   font-weight: 600;
}

.btn-area {
   margin-top: 30px;
   margin-bottom: 30px;
}

@media only screen and (max-width: 860px) {
   .dash-cards {
      grid-template-columns: repeat(2, 1fr);
   }

   .card-single {
      margin-bottom: 1rem;
   }

   .activity-grid {
      display: block;
   }

   .summary {
      margin-top: 1.5rem;
   }
   .main-content {
      margin-left: 5rem;
   }
}

@media only screen and (max-width: 600px) {
   .dash-cards {
      grid-template-columns: 100%;
   }
}

@media only screen and (max-width: 450px) {
   main {
      padding-left: 1rem;
      padding-right: 1rem;
   }

   html {
      font-size: 9px;
   }

   .product-add__form {
      display: block;
   }

   .form-left,
   .form-right {
      width: 100%;
   }
   .flex {
      gap: 7px;
   }

   .flex > *:first-child {
      flex: 2;
   }
   .flex > *:last-child {
      flex: 3;
   }
   .product__add > *,
   .product-add__form {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
   }
   .btn-area {
      justify-content: center;
      text-align: center;
   }
   .btn-area > * {
      width: 40%;
      height: 80%;
   }

   // .row{
   //    display: block;
   // }
   .img-wrapper{
      width: 80%;
   }

   #btnClose{
      width: 100%;
      height: 100%;
     
   }
   .prod-wrapper{
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 20px;
   }
   #sidebar-toggle:checked ~ .sidebar {
      width: 150px;
   }
}
