@import './variables';

#sidebar-toggle {
    display: none;
 }
 
 .sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: $main-color;
    color: $color-white;
    overflow-y: auto;
    transition: width 500ms;
    font-size: 1.6rem;
    li {
        margin-bottom: 1.5rem;
    }
    a{
        color: $color-white;
        font-size: 1.6rem;

        span:last-child{
            padding-left: 0.6rem;
        }
    }
 }
 
 .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
 }
 
 .sidebar-menu {
    padding: 1rem;
    padding-right: 0rem;

    li{
        padding-left: 10px;
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    .active {
        background-color: $color-white;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border-radius: 30px 0px 0px 30px;

        a{
            color: $main-color;

        }
    }
 }
 .sidebar-menu > ul > li > a > *:first-child {
    font-size: 20px;
 }


 #sidebar-toggle:checked ~ .sidebar {
    width: 60px;
    .sidebar-header {
        display: flex;
        justify-content: center;
        h3 {
            span{
                display: none;
            }
        }
    }
    
    li {
        display: flex;
        justify-content: center;
        span:last-child{
            display: none;
        }
    }

 }
 
 #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;

    header {
        left: 60px;
        width: calc(100% - 60px);
    }
 }
 
 .brand{
    font-size: 1.8rem;
 }

 
@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 50px;
        z-index: 150;
    }
 
    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }
 
    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }
 
    .main-content {
        margin-left: 60px;
    }
 
    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
 
    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }
 
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
    }
 
    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }
 
    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
    }
 
    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }
 
    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;
    }
 }